<%- include('partials/header'); -%>

<h1>HOME</h1>
<p><%= homecontent %></p>


  <% post.forEach(function(postElement){ %>

  <h2><strong><%= postElement.title %> </strong></h2>

  <p class="ps"><i> <%= postElement.letter %> </i></p>

  <% }); %>

  <!-- }); for(var i = 0; i < post.length; i++) { %> -->


<%- include('partials/footer'); -%>
